<h1>All Books</h1>
<ol>
  <% @books.each do |book| %>
  <%= image_tag book.image_cover_url %>  
  <%= link_to(book.title, book) %> by <%= book.author_id %><br />
  	<% end %>
</ol>
<%= paginate @books %>

